@charset "UTF-8";

.carousel {
    margin-top: 10px;
}

.aside {
    float: left;
    width: 185px;
    border: 1px solid #d7d7d7;
    margin-top: 10px;
}

.aside h2 {
    text-align: center;
    /* margin: 6px 0; */
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border-bottom: 1px solid #cdcdcd;
    font-size: 14px;
}

.aside div {
    padding: 4px 0px;
    border-top: 1px dotted #d7d7d7;
}

.aside div.first-child {
    border-top: none;
}

.aside h3 {
    font-size: 12px;
    font-weight: bold;
    margin: 10px 20px;
    margin-bottom: 5px;
}

.aside ul {
    padding-left: 20px;
}

.aside li {
    margin: 3px 0;
    display: inline-block;
    width: 45%;
}

.aside ul li a:hover {
    color: #4593fd;
}

.products {
    float: right;
    width: 810px;
    margin-top: 15px;
}

.products h3 {
    height: 28px;
    font-size: 15px;
    line-height: 28px;
    padding-left: 7px;
}

.products ul {
    float: right;
    width: 100%;

}

.products ul li {
    width: 25%;
    float: left;
    text-align: center;

    padding: 10px 0;
}

.products ul li.top-item{
    border-top: 2px solid #cccccc;
}

.products ul li img {
    max-width: 150px;
    margin-bottom: 10px;
}

.products ul li .desc:hover {
    color: #4593fd;
}

.products ul li:first-child {
    border-top: 2px solid #096dba;
}

.products ul li .star span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/icon/star2.jpg") no-repeat center center;
}

.products ul li .comment{
    color: #096dba;
}

.products ul li p {
    text-align: left;
    padding: 0px 30px;
}

.products ul li .price {
    color: #d4105a;
}

.products ul li:hover {
    box-shadow: 1px 1px 3px #ddd,-1px -1px 3px #ddd;
}